/** @format */

.dark {
  .sidebar-inner-wrap.uk-sticky .indicator-wrap .indicator-item,
  .sidebar-inner-wrap.uk-sticky .indicator-wrap,
  .sidebar-inner-wrap.uk-sticky {
    background-color: transparent;
  }
  .sidebar-inner-wrap.uk-sticky {
    // border-radius: 10px;
    // overflow: hidden;
  }
  .links-list-wrap .link-list .link-item:after {
    border-color: #fff;
  }
  .links-list-wrap .link-list .link-item {
    border-color: transparent;
    background-color: rgba($color: #fff, $alpha: 0.04);
    background: transparent;
  }
  .sidebar-inner-wrap.uk-sticky .indicator-wrap .indicator-item {
    color: #fff;
    strong,span{
      color: #fff;
    }
    &.active {
      color: #32affc;
    }
    &:hover {
      @media (min-width: 1200px) {
        color: #32affc;
      }
    }
  }
  .sidebar-wrap .indicator-wrap .indicator-item.active::after,
  .sidebar-wrap .indicator-wrap .indicator-item::after {
    border-color: #fff;
  }
  section.banner-panel .panel-wrap {
    background-color:#142c44  !important;
  }
  .tab-content > .tab-pane h4 {
    color: #fff;
  }
  section.library-hours .content-wrap .hours-wrap .hour-item,
  .block.well .block-title.with-icon {
    background-color: rgba($color: #fff, $alpha: 0.04);
  }
  section.library-hours
    .content-wrap
    .hours-wrap
    .hour-item
    .icon-wrap
    svg
    path,
  section.library-hours
    .content-wrap
    .hours-wrap
    .hour-item
    .icon-wrap
    svg
    line,
  section.library-hours
    .content-wrap
    .hours-wrap
    .hour-item
    .icon-wrap
    svg
    circle {
    stroke: #fff;
  }
  .block.well .block-title {
    border-color: rgba($color: #fff, $alpha: 0.1);
  }
  .block.well::after {
    border-color: #fff;
  }
  .block.well .block-title.simple .icon-wrap,
  .block.well .block-title.simple h4,
  .block.well a:hover .block-title * {
    color: #fff !important;
  }
  section.mbru-offers .offers-wrap {
    background-color: rgba($color: #fff, $alpha: 0.04);
  }
  section.mbru-offers .offers-wrap .offers-title .icon,
  section.mbru-offers .offers-wrap .offers-title h3,
  section.mbru-offers .offers-wrap p {
    color: #fff;
  }
  .library-nav-block .nav-block {
    background-color: rgba($color: #fff, $alpha: 0.04);
    border-color: rgba($color: #fff, $alpha: 0.1);
  }
  .library-nav-block .nav-block .block-title h3,
  .library-nav-block .nav-block .icon-wrap,
  .library-nav-block .nav-block .icon-wrap i,
  .library-nav-block .nav-block .block-title p {
    color: #fff;
  }
  .tab-pane .WhiteLink {
    color: #fff !important;
  }
  .banner-panel .nav-tabs {
    border-color: rgba($color: #fff, $alpha: 0.1);
    .nav-link {
      background: transparent;
      color: #fff;
      &.active {
        background: rgba($color: #fff, $alpha: 0.1);
      }
    }
  }
  .title {
    color: #fff;
    h2 {
      color: inherit;
    }
  }
  .simple-ico-box {
    background-color: rgba($color: #fff, $alpha: 0.04);
    border-color: rgba($color: #fff, $alpha: 0.1);
    .content-wrap h3,
    .icon-wrap .icon,
    .icon-wrap .icon i {
      color: #fff;
    }
  }
  .block.well a .block-title,
  .block.well a:hover .block-title {
    background: rgba($color: #fff, $alpha: 0.04);
    color: #fff;
    box-shadow: none;
    .category {
      color: #fff;
    }
  }
  .custom-check label {
    color: #fff;
  }
  .custom-check label:after {
    color: transparent;
  }
  .custom-check label:before {
    border-color: rgba($color: #fff, $alpha: 0.1);
  }
  .digital-learning .wall-block {
    background: rgba($color: #fff, $alpha: 0.04);
    .wall-desc h3,
    .wall-desc p {
      color: #fff;
    }
  }
  .overview .message-box-wrap .message-box blockquote {
    color: #fff;
  }
  .overview .message-box-wrap .message-box h3 {
    color: #fff;
  }
  .why__choose__us__card__new,
  .block .why__choose__us__card__new,
  section.why-choose .block .why__choose__us__card__new {
    border: 0;
    background-color: rgba($color: #fff, $alpha: 0.04);
  }
  .why__choose__us__card__new .block-title h4,
  .block .why__choose__us__card__new .block-title h4,
  section.why-choose .block .why__choose__us__card__new .block-title h4 {
    color: #fff !important;
  }
  .carousel .controls .slick-arrow.carousel-next .icon,
  .carousel .controls .slick-arrow.carousel-prev .icon {
    color: #fff !important;
    border-color: #fff !important;
  }
  .navigate-wrap span .icon i,
  .navigate-wrap span .icon {
    color: #fff;
  }
  .navigate .navigate-wrap a:after {
    border-color: #fff;
  }
  .select2-container--default .select2-selection--single {
    background-color: rgba($color: #fff, $alpha: 0.04);
  }
  .academic-calender
    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered,
  .academic-calender
    .custom-select-dropdown
    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow
    b {
    color: #fff;
  }
  .faq-wrap .faq-item {
    background-color: rgba($color: #fff, $alpha: 0.04) !important;
  }
  .acad-cal-pdf {
    background-color: transparent;
  }
  .acad-cal-pdf::after {
    border-color: #fff;
  }
  .simple-slideshow .slider {
    background: url(../images/loading.gif) center center no-repeat
      rgba($color: #fff, $alpha: 0.04);
  }
  .btn.btn-primary-outline::after {
    border-color: #fff;
  }
  .faq-wrap .faq-item .faq-head {
    background-color: rgba($color: #fff, $alpha: 0.04);
  }
  .faq-wrap .faq-item .faq-head::after {
    border-color: #fff;
  }
  section .content_wrap.fill,
  section.fill {
    background: #0a233c;
  }
  .simple-slideshow .slide-item .slide-title,
  .simple-slideshow.well-grey {
    background: transparent;
  }
  .simple-slideshow .slide-item .slide-title h3,
  .simple-slideshow .slide-item .slide-title p {
    color: #fff;
  }
  .discover-mbru .vertical-tabs-wrap .vertical-tabs a.tab_item {
    background-color: rgba($color: #fff, $alpha: 0.04);
    color: #fff;
  }
  .discover-mbru .vertical-tabs-wrap .vertical-tabs a.tab_item.active {
    background-color: rgba($color: #fff, $alpha: 0.1);
  }
  .vertical-tabs .tab_item:after {
    border-left-color: rgba($color: #fff, $alpha: 0.1);
  }
  section.about-university-overview
    .facts
    .border-block
    .counter-block
    .counter-block-new-icon,
  section.about-university-overview
    .facts
    .border-block
    .counter-block
    .counter-block-new-icon
    i {
    color: #fff;
  }
  .counter-wrap .counter-block h2 *,
  .counter-wrap .counter-block h2 {
    color: #fff;
  }
  .why__choose__us__card__new .block-title p,
  .block .why__choose__us__card__new .block-title p,
  section.why-choose .block .why__choose__us__card__new .block-title p {
    color: #fff;
  }
  .image-text-wrap .image-text-row .text-holder {
    background-color: rgba($color: #fff, $alpha: 0.04);
  }
  .image-text-wrap .image-text-row {
    border-color: rgba($color: #fff, $alpha: 0.1);
    background-color: transparent;
    background: transparent;
  }
  section.life-at-mbru.overview .content-wrap .overview-description p,
  section.life-at-mbru.overview .content-wrap .overview-description li,
  section.life-at-mbru.overview .content-wrap .overview-description ul {
    color: #fff;
  }
  .block-with-pro .pro-description {
    border-color: rgba($color: #fff, $alpha: 0.1);
  }
  form.top-selector
    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: #fff;
  }
  .title .custom-select-dropdown .select2-container .select2-selection--single {
    border-color: rgba($color: #fff, $alpha: 0.1);
  }
  .custom-select-dropdown
    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow
    b {
    color: #fff;
  }
  .events.events-section .panel {
    background: rgba($color: #fff, $alpha: 0.04);
  }
  .form-block {
    background-color: rgba($color: #fff, $alpha: 0.1);
  }
  .contact .form-block .form-title h3,
  section.get-in-touch .contact-options .btn.btn-link,
  .simple-ico-box .content-wrap p {
    color: #fff;
  }
  .directory-header:before,
  .directory-header {
    background: #0a233c;
  }
  section.sidebar-template .content-wrap .page-content .header h4 {
    color: #fff;
  }
  .pagination-wrap ul.pagination li a {
    background-color: rgba($color: #fff, $alpha: 0.1);
  }
  .sidebar-wrap .faq-wrap {
    background: transparent;
  }
  .faq-wrap .faq-item .faq-head {
    border-color: rgba($color: #fff, $alpha: 0.1);
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: #fff;
  }
  .cta__btn__secondary--border {
    border-color: #fff;
  }
  input[type="text"],
  input[type="email"],
  input[type="search"],
  input[type="txt"],
  input[type="tel"],
  input[type="number"],
  select,
  textarea {
    border: 0.5px solid rgba($color: #fff, $alpha: 0.1) !important;
    background-color: rgba($color: #fff, $alpha: 0.04) !important;
    color: #fff !important;
    option {
      background: #113f67;
    }
    &::placeholder {
      color: #fff9 !important;
    }
  }
  .faq-header .tags-list .block.well .block-title.simple {
    border-color: rgba($color: #fff, $alpha: 0.1);
  }
  .page-content .content-area .content-area-inner li {
    color: #fff;
    strong,
    span {
      color: #fff;
    }
  }
  section.apply .tab-panel-content .content-wrap h4,
  section.apply .tab-panel-content .content-wrap strong {
    color: #fff;
  }
  section.apply .tab-panel .tab-items li.active a {
    background: rgba($color: #fff, $alpha: 0.04);
  }
  section.apply .tab-panel .tab-items li.active a i {
    color: #fff !important;
  }
  .news-content h4 {
    color: #fff;
  }
  .result-list-ul li {
    background-color: rgba($color: #fff, $alpha: 0.04);
    border-color: rgba($color: #fff, $alpha: 0.1) !important;
  }
  .result-list-ul li p,
  .result-list-ul li p b,
  .result-list-ul li h3 {
    color: #fff !important;
  }
  .result-listing-wrap .result-item .label-wrap .year {
    color: #fff;
  }
  header .login-popup{
    background-color: #0a233c !important;
     .title h2,.title p{
      color: #fff;
     }
      .login-grid .login-link{
        background-color: rgba($color: #fff, $alpha: 0.04) !important;
        border: 1px solid rgba($color: #fff, $alpha: 0.1);
      }
  }
  .breadcrumb-item + .breadcrumb-item::before{
    border-color: #fff;
  }
   .breadcrumbs li a svg path,.breadcrumb-wrap .breadcrumb .breadcrumb-item a svg path{
      fill: #b1cee3 !important;
    }
    .icon__quick__nav .icon__quick__nav__dropdown .filter_wrap .filter_options.fontsize-switch > .btn,section.sidebar-template .content-wrap li, section.sidebar-template .content-wrap p,section.sidebar-template .content-wrap li, section.sidebar-template .content-wrap p,section.sidebar-template .content-wrap li, section.sidebar-template .content-wrap p,section.sidebar-template.right-sidebar .content-wrap .page-content .plain-content ol strong, section.sidebar-template.right-sidebar .content-wrap .page-content .plain-content p strong, section.sidebar-template.right-sidebar .content-wrap .page-content .plain-content ul strong, .content-wrap-inner .inner-content p strong, .content-wrap-inner .second-content ul li strong, section.event-filter .result-wrap .result-item .location strong, .facility-detail .discription p strong, .faq-wrap .faq-item .faq-body p strong, .page-content .content-area .content-area-inner h4 strong, .page-content .content-area .content-area-inner h5 strong, .page-content .content-area .content-area-inner h6 strong, .page-content .content-area .content-area-inner h3 strong, .page-content .content-area .content-area-inner h2 strong, .facility-detail .discription li strong{
      color: #fff !important;
      a,b,strong,span{
        color: #fff !important;
      }
    }
    .acad-cal-pdf ,.academic-calender .select2-container--default .select2-selection--single .select2-selection__rendered,.select2-results__option{
      color: #fff !important;
    }
    .latest__news .latest__news__grid .latest__news__grid__item .latest__news__grid__item__content .latest__news__grid__item__content__footer a svg path, .latest__news .latest__news__grid .latest__news__grid__item .latest__news__grid__item__content .latest__news__grid__item__content__footer .anchor svg path{
      fill: #32affc;
    }
    .sidebar-wrap .indicator-wrap .tabs ul li:hover{
      background-color: transparent !important;
      background: transparent !important;
    }
    .sidebar-wrap .indicator-wrap .indicator-item.active, .sidebar-wrap .indicator-wrap .tabs ul li.active{
      background-color: transparent;
      background: transparent;
      color: #32affc;
      &::after{
        border-color: #32affc;
      }
    }
    .sidebar-wrap .indicator-wrap .indicator-item.active::after, .sidebar-wrap .indicator-wrap .tabs ul li::after, .sidebar-wrap .indicator-wrap .indicator-item::after{
      border-color: #fff;
    }
    section.sidebar-template .content-wrap li span, section.sidebar-template .content-wrap li strong, section.sidebar-template .content-wrap p span, section.sidebar-template .content-wrap p strong{
      color: #32affc;
    }
    .sidebar-wrap .indicator-wrap .indicator-item, .sidebar-wrap .indicator-wrap .tabs ul li{
      border-color: rgba($color: #fff, $alpha: 0.1);
    }
    section.sidebar-template.right-sidebar .content-wrap .page-content .plain-content ol, section.sidebar-template.right-sidebar .content-wrap .page-content .plain-content p, section.sidebar-template.right-sidebar .content-wrap .page-content .plain-content ul, .content-wrap-inner .inner-content p, .content-wrap-inner .second-content ul li, section.event-filter .result-wrap .result-item .location, .facility-detail .discription p, .faq-wrap .faq-item .faq-body p, .page-content .content-area .content-area-inner h4, .page-content .content-area .content-area-inner h5, .page-content .content-area .content-area-inner h6, .page-content .content-area .content-area-inner h3, .page-content .content-area .content-area-inner h2, .facility-detail .discription li,.pagination-wrap ul.pagination li a, .pagination-wrap ul.pagination2 li a,.page-content h3,.about-program p strong, .about-program p span, .page-content .content-area .content-area-inner li strong, .page-content .content-area .content-area-inner li span, .page-content .content-area .content-area-inner p strong, .page-content .content-area .content-area-inner p span{
      color: #fff !important;
    }
    .section-block .content-wrap ul li:before{
      background: #fff;
    }
    .logo-block-wrap .logo-block-item{
      background: rgba($color: #fff, $alpha: 0.04);
    }
    .about-program p, .page-content .content-area .content-area-inner li, .page-content .content-area .content-area-inner p{
      color: #fff !important;
      strong{
        color: inherit !important;
      }
    }
    .page-content .content-area .content-area-inner .diagram-holder .diagram-body .flow-row .bubble-item h4{
      background: #142c44;
      border: 1px solid rgba($color: #fff, $alpha: 0.1);
      border-radius: 15px;
    }
    select.input-01a{
      background: #fff url(../images/arrowdown.svg) no-repeat 96% center;
    }
    .faq-header .field-wrap.search-input .icon{
      color: #fff;
    }
    section.about-university-overview .overview .content-wrap p, section.about-university-overview .overview .content-wrap li,section.history .history-timeline-wrap .timeline-item .timeline-year span,.image-text-wrap .image-text-row .text-holder p, .image-text-wrap .image-text-row .text-holder li{
      color: #fff !important;
      strong,a,span,b{
        color: #fff !important;
      }
    }
    .counter-block-new-icon img , .simple-ico-box .icon-wrap img{
      filter: invert(100%) sepia(100%) saturate(10%) hue-rotate(90deg) brightness(100%) contrast(100%);
    }
    div.wpforms-container-full .wpforms-form select option{
      background-color: #002f70;
    }
    .banner-panel .nav-tabs .nav-link.active{
      background: #002f70;
    }
    .services__grid__listing__card{
      background-color:#1d344b;
      border: 1px solid rgba($color: #fff, $alpha: 0.1);
    }
    .cta__btn__secondary{
      &:hover{
        @media (min-width:1200px) {
          background-color: #32affc;
          color: #fff;
        }
      }
    }
    section.faq-detail .faq-wrap .faq-item .faq-body{
      background: transparent;
      border-color: rgba($color: #fff, $alpha: 0.1);
    }
    .simple-ico-box .content-wrap li,.page-template-template-media-landing section.media-news #mediaNewsData .block-title p{
      color: #fff;
    }
    .info-window{
      color: #002f70;
    }
    .navigate, section.get-in-touch .contact-options{
      background-color:rgba($color: #fff, $alpha: 0.04) !important;
   }
   #mediaNewsData .col-md-3 .block.wall.small > a, #mediaNewsData .col-md-6 .block.wall.small{
      border-color: rgba($color: #fff, $alpha: 0.1);
      background-color: transparent;
   }
    section.media-news #mediaNewsData .block-title p,.title.with-desc p, section.apply .tab-panel-content .content-wrap ul li{
    color: #fff !important;
    span,strong{
      color: #fff !important;
    }
   }
   .sidebar-wrap .indicator-wrap .indicator-item:hover, .sidebar-wrap .indicator-wrap .tabs ul li:hover{
    background-color: transparent !important;
    color: #fff;
    b,strong{
      color: inherit;
    }



   }
   .tab-wrap.mCustomScrollbar .vertical-tabs .tab_item.active{
    background-color: rgba($color: #fff, $alpha: 0.1);
   }
   .blue-block{
    background-color: rgba($color: #fff, $alpha: 0.04);
   }
     .form-block {
     .form-title,label{
      color: #fff !important;
      span,strong,b{
        color: inherit !important;
      }

    }
   }
   div.wpforms-container-full .wpforms-form button[type="submit"]{
    background-color:  #fff !important;
    color: #002f70 !important;
    &:hover{
      @media (min-width:1200px) {
        background-color:  #32affc !important;
      }
    }
   }
   section.history .history-timeline-wrap .timeline-item a{
    background-color: rgba($color: #fff, $alpha: 0.04);
   }
   .select2-results__option, .select2-container--default .select2-results__option--highlighted[aria-selected], .acad-cal-pdf, .academic-calender .select2-container--default .select2-selection--single .select2-selection__rendered, .expanding-section .block .block-title h4{
    color: #fff !important;
   }
   .btn.btn-download .icon{
    color: #002f70;
   }
   .career-filter span.category{
    border-left: 3px solid #fff;
   }
   .btn.btn-secondary{
    background: #fff;
    color: #002f70;
    &:hover{
      @media (min-width:1200px) {
        background: #32affc;
        color: #fff;
      }
    }
   }
   .our__programs__search__section .our__programs__search__section__form__wrap form fieldset.search__field svg path, .our__programs__search__section .our__programs__search__section__form__wrap .form fieldset.search__field svg path{
    stroke: #fff;
   }
   div.wpforms-container-full .wpforms-form h3,.image-text-wrap .image-text-row .text-holder .block-title{
    color: #fff;
   }
   .select2-container--default .select2-results__option[aria-selected=true],.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: #1e2f4f;
   }
   section.apply .tab-panel-content .content-wrap ul li:before{
    background: #fff;
   }
   .news-slider-wrap .news-slider .news-block .news-info{
    background-color: #142c44 !important;
   }
  .page-template-template-apply section.apply .tab-panel-content .content-wrap p strong, .page-template-template-apply section.apply .tab-panel-content .content-wrap ul strong,.gallery-carosel .slider .slider-item h3{
    color: #fff !important;
   }
   .library-nav-block .nav-block{
    background-color: rgba($color: #FFF, $alpha: 0.04) !important;
    border: 1px solid rgba($color: #fff, $alpha: 0.1) !important;
   }
   section.life-at-mbru.overview .content-wrap .overview-video+.overview-description{
    background-color: #142c44 !important;
   }
   .welcome h4, .welcome h4 strong, .welcome li{
    color: #fff;
    span,strong{
      color: #fff !important;
    }
   }
   header .menu-popup .search-holder .field-wrap.search-input .icon, header .search-popup .search-holder .field-wrap.search-input .icon,.welcome h4, .welcome h4 strong, .welcome li, header .menu-popup .search-holder .additional-search .label, header .search-popup .search-holder .additional-search .label,.blog-list-box li p{
color: #fff;
span,strong{
  color: #fff;

}
   }
   .page-template-template-college-landing-php section.academic-calender{
    background: rgba($color: #fff, $alpha: 0.04) !important;
   }
   .blog-list-box li{
    background-color: transparent;
   }
   .form-box-main{
    background: rgba($color: #fff, $alpha: 0.04);
   }
      .es-content-body ,
      .es-content-body td ,
      .es-content-body *
      {
color: #002f70 !important;
   }
   div.wpforms-container div.wpforms-uploader{
    background: rgba($color: #fff, $alpha: 0.04) !important;
    border: 1px solid rgba($color: #fff, $alpha: 0.1) !important;
    span{
      color: #fff !important;
    }
   }
   .es-content-body, section.sidebar-template .content-wrap h2, section.sidebar-template .content-wrap h3,.sidebar-template .form-block.general-form h4, .sidebar-template .form-block.general-form .custom-radio, .sidebar-template .form-block.general-form h3{
    color: #fff;
   }
   section.sidebar-template .content-wrap li span, section.sidebar-template .content-wrap li strong, section.sidebar-template .content-wrap p span, section.sidebar-template .content-wrap p strong,section.apply .tab-panel-content .content-wrap p ,section.apply .tab-panel-content .content-wrap p strong,section.apply .tab-panel-content .content-wrap p span,p, li, strong, div.wpforms-container-full .wpforms-form .wpforms-field-description, div.wpforms-container-full .wpforms-form .wpforms-field-limit-text{
    color: #fff !important;
   }
   div.wpforms-container-full{
  color: #fff !important;
}
div.wpforms-container-full .wpforms-form .wpforms-field-description.wpforms-disclaimer-description,.registration-confirmation .content-area-inner h1, .registration-confirmation .content-area-inner h2, .registration-confirmation .content-area-inner h3{
  color: #fff;
  background-color: transparent;
}
.wpforms-confirmation-container-full, div[submit-success]>.wpforms-confirmation-container-full:not(.wpforms-redirection-message){
  background: rgba($color: #fff, $alpha: 0.04);
  border: 1px solid rgba($color: #fff, $alpha: 0.1);
  p{
    color: #fff;
  }
}
.footer__bottom{
  background-color: #0a233c;
  @media (max-width:1200px) {
    background-color: transparent;
  }
}
.action__btn img{
  filter: invert(100%) sepia(100%) saturate(10%) hue-rotate(90deg) brightness(100%) contrast(100%);
  @media (max-width:1200px) {
    filter: none;
  }
}
.accessibility__menu::after, .login__menu::after{
  border-color: #fff;
}
.fixed__main__navigation__menu .icon__quick__nav__dropdown{
  background-color: transparent;
  border: none;
}
p span, li span, strong span, span span, div.wpforms-container-full .wpforms-form .wpforms-field-description span, div.wpforms-container-full .wpforms-form .wpforms-field-limit-text span{
  color: #fff !important;
}
.fixed__main__navigation__menu .icon__quick__nav .icon__quick__nav__dropdown .filter_wrap .filter_options > .btn,
 .fixed__main__navigation__menu .accessibility__menu .icon__quick__nav__dropdown .filter_wrap .filter_options > .btn{
  color: #002f70;
  i{
    color: #002f70;
  }
 }
 li span{
  color: #fff !important;
 }
 .page-content .content-area .content-area-inner table tr:first-child td{
  background-color: rgba($color: #fff, $alpha: 0.04);
 }
 .btn.btn-primary-outline i{
  color: #fff;
 }
 nav.tabs > ul > li.submenu-itm .acc-icn{
  background-color: #fff;
  &::after{
    background-color: #fff;
  }
 }
 header .header__inner .header__inner__left .nav__menu li:hover .nav__menu--sub, header .header__inner .header__inner__left .nav__menu li:hover .dropdown-menu{
  background-color: #002f70;
  box-shadow: none;
  border: 1px solid rgba($color: #fff, $alpha: 0.1);
    li{
      a{
      color: #fff;
      }
    }
 }
  .iti__country-list, div.wpforms-container .wpforms-form .iti__country-list, div.wpforms-container-full .wpforms-form .iti__country-list, #wpforms-conversational-form-page .iti__country-list{
  background-color: #002f70 !important;
 }
  .sidebar-inner-wrap.uk-sticky .indicator-wrap .indicator-item:hover{
strong,span{
  color: #32affc !important;
}
 }
  .facility-detail .discription h2{
    color: #fff !important;
  }
  .flatpickr-calendar.open{
    background-color: #233950;
  }
  .sidebar-template .form-block.general-form h4 label::before, .sidebar-template .form-block.general-form .custom-radio label::before, .sidebar-template .form-block.general-form h3 label::before{
    border-color: #fff;
  }
  .sidebar-template .form-block.general-form h4 input:checked + label::before, .sidebar-template .form-block.general-form .custom-radio input:checked + label::before, .sidebar-template .form-block.general-form h3 input:checked + label::before{
    background: #fff;
    border-color: #fff;
    .sidebar-template .form-block.general-form h4 input:checked + label::after, .sidebar-template .form-block.general-form .custom-radio input:checked + label::after, .sidebar-template .form-block.general-form h3 input:checked + label::after{
      color: #002f70;
    }
  }
  .latest__news .container::after{
      display: none !important;
  }
  .facility-detail .discription h2 strong,.faq-wrap .faq-item .faq-body p b, .faq-wrap .faq-item .faq-body p strong,.welcome h4, .welcome h3, .welcome h2, .welcome h1, .welcome h5, .welcome h6, .welcome h4 strong, .welcome li, header .menu-popup .search-holder .additional-search .label, header .search-popup .search-holder .additional-search .label, .form-block .form-title span, .form-block .form-title strong, .form-block .form-title b, .form-block label span, .form-block label strong, .form-block label b{
    color: #fff !important;
  }
  .select2-container--default .select2-results__group{
    background: #0a233c;
  }
  .our__programs__search__section__row .our__programs__search__section__row__card h5{
    color: #fff;
  }
  .our__programs__search__section__row .our__programs__search__section__row__card svg path{
    fill: #fff;
  }
  .cta__btn.cta__btn__secondary.cta__btn__secondary--100{
    svg path{
      fill: #002f70;
    }
    &:hover{
      @media (min-width:1200px) {
          svg path{
      fill: #fff;
    }
      }
    }
  }
}
