/** @format */

footer {
  background-color: #002f70;
  position: relative;
  z-index: 100;
  border-top: 1px solid rgba($color: #fff, $alpha: 0.1);
  @media (min-width:720px) { 
  padding-bottom: 108px;
  // margin-top: 50px;
  }
  .container {
    @media (max-width: 990px) {
      max-width: 100%;
    }
  }
  ul {
    list-style: none;
    padding: 0;
  }
  .brendlogo {
    @media (max-width: 1200px) {
      margin-bottom: 40px;
      display: block;
    }
    @media (max-width: 990px) {
      width: 200px;
      margin: 0 auto 30px;
    }
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .footer__navigation__menu {
    padding-left: 35px;
    border-left: 1px solid #335c85;
    @media (max-width: 1200px) {
      border: 0;
    }
    @media (max-width: 990px) {
      padding-left: 15px;
    }
    .config__switches__and__toggles {
      display: flex;
      align-items: center;
      @media (max-width: 1200px) {
        justify-content: space-between;
      }
    }
    .footer__links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 -14px 30px;
      @media (max-width: 1200px) {
        justify-content: unset;
        display: block;
        column-count: 2;
      }
      @media (max-width: 720px) {
        column-count: unset;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 8px;
      }
      li {
        padding: 0 13px;
        @media (max-width: 1200px) {
          padding: 10px 14px;
        }
        @media (max-width: 720px) {
          padding: 4px 4px;
        }
        a {
          font-size: 13px;
          font-weight: 500;
          color: #fff;
          line-height: 1;
          font-family: "DubaiFont Medium",Helvetica,Arial,sans-serif;
          @media (max-width: 720px) {
            text-align: center;
            display: block;
            font-size: 14px;
          }
        }
      }
      &.other__links {
        justify-content: flex-start;
        margin-bottom: 50px;
        @media (max-width: 720px) {
          margin-bottom: 15px;
        }
      }
    }
    .filter_wrap {
      display: flex;
      align-items: center;
      margin: 0 !important;
      @media (max-width: 1200px) {
        width: auto;
      }
      @media (max-width: 990px) {
        display: none;
      }
      &:not(:last-child) {
        margin-right: 40px;
      }
      .label {
        font-size: 16px;
        color: #6685a3;
        font-weight: 400;
        line-height: 1;
        margin-right: 8px;
        width: max-content;
        display: block;
      }
      .filter_dropdown {
        display: none;
      }
      .filter_options {
        border: 1px solid #8099b2;
        border-radius: 12px;
        background-color: #fff;
        .btn-filter {
          border-radius: 8px;
          color: #002f70;
        }
      }
      .contrast-switch {
        padding: 4px;
        overflow: auto;
        .btn-filter {
          padding: 4px 10px;
          &.active {
            color: #fff;
          }
        }
      }
      .fontsize-switch {
        padding: 8px 0;
        .btn-filter {
          padding: 0px 25px;
          &.active {
            background-color: transparent;
            color: #002f70;
          }
        }
      }
    }
  }
  .reach__us__on {
    text-align: right;
    @media (max-width: 1200px) {
      text-align: left;
      margin-top: 30px;
    }
    @media (max-width: 720px) {
      text-align: center;
    }
    span {
      font-size: 12px;
      font-weight: 400;
      color: #fff;
      display: block;
      margin-bottom: 4px;
    }
    a {
      font-size: 20px;
      line-height: 1;
      color: #32affc;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 12px;
      text-decoration: none !important;
      @media (max-width: 720px) {
        font-size: 14px;
      }
      @media (max-width: 1200px) {
        justify-content: flex-start;
      }
      @media (max-width: 720px) {
        justify-content: center;
      }
      svg {
        width: 24px;
        height: auto;
        object-fit: contain;
        margin-right: 8px;
        @media (max-width: 720px) {
          width: 18px;
        }
      }
    }
    p {
      font-size: 16px;
      color: #6685a3;
      font-weight: 400;
      line-height: 1.3;
      margin-top: 19px;
      @media (max-width: 720px) {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
    .achieved__badges {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: #fff;
      border-radius: 8px;
      width: max-content;
      margin-left: auto;
      margin-bottom: 0;
      @media (max-width: 1200px) {
        justify-content: flex-start;
        margin-left: 0;
      }
      @media (max-width: 720px) {
        margin: auto;
      }
      li {
        width: auto;
        height: 48px;
        padding: 8px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100px;
        &:not(:last-child) {
          border-right: 1px solid #e5ebf0;
        }
        @media (max-width: 720px) {
          width: 100px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
  .middle__footer {
    margin-top: 40px;
    padding-top: 32px;
    border-top: 1px solid #335c85;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media (max-width: 720px) {
      flex-flow: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 80px;
      margin-top: 25px;
      padding-top: 25px;
    }
    .quick__links {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 18px;
      @media (max-width: 720px) {
        flex-flow: column;
        justify-content: center;
        margin-bottom: 35px;
      }
      li {
        &:not(:last-child) {
          margin-right: 36px;
          @media (max-width: 720px) {
            margin-right: 0px;
          }
        }
        a {
          font-size: 16px;
          font-weight: 400;
          line-height: 1;
          color: #fff;
          text-decoration: none;
        }
      }
    }
    p {
      font-size: 14px;
      line-height: 1;
      font-weight: 400;
      color: #6685a3;
      margin: 0;
      @media (max-width:720px) {
        transform: translateY(30px);
        text-align: center;
      }
    }
    .social-media-wrap {
      @media (max-width: 1200px) {
        margin-top: 10px;
      }
      .social-media {
        @media (max-width: 1200px) {
          margin-top: 0;
        }
        li{
          &:not(:last-child){

            @media (max-width:720px) {
             margin-right: 24px;
          }
      }
        }
        a {
          color: #32affc;
            @media (max-width:720px) {
             font-size: 21px;
            }
        }
      }
       @media (max-width:720px) {
        transform: translateY(-35px);
      }
    }
  }
  // .footer__bottom {
  //   padding: 8px 0;
  //   background-color: #fff;
  //   margin-top: 50px;
  //   position: fixed;
  //   bottom: 0;
  //   width: 100%;
  //   z-index: 100;
  //   box-shadow: 0px -4px 20px 4px rgba(0,0,0,0.16);
  //   @media (max-width: 720px) {
  //     // background-color: #002f70;
  //   padding: 8px 0 15px;

  //   }
  //   .action__btn {
  //     padding: 12px 0;
  //     @media (max-width: 1200px) {
  //       padding: 12px;
  //       background-color: #fff;
  //       border-radius: 50%;
  //       width: 44px;
  //       height: 44px;
  //     }
  //     @media (max-width: 720px) {
  //       width: 38px;
  //       height: 38px;
  //       padding: 7px;
  //       &:not(:last-child) {
  //         margin-left: 10px;
  //       }
  //     }
  //     img {
  //       @media (max-width: 1200px) {
  //         margin-right: 0;
  //       }
  //     }
  //     span {
  //       @media (max-width: 1200px) {
  //         display: none;
  //       }
  //     }
  //   }
  //   .other__quicklinks {
  //     .action__btn {
  //       &:not(:first-child) {
  //         padding-left: 20px;
  //         border-left: 1px solid #dcdcdc;
  //         margin-left: 20px;
  //         @media (max-width: 1200px) {
  //           border-left: 0;
  //         padding-left: 12px;
  //         }
  //         @media (max-width: 720px) {
  //           padding-left: 7px;
  //           border-left: 0;
  //           margin-left: 10px;
  //         }
  //       }
  //     }
  //   }
  //   .container {
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-between;
  //     @media (max-width: 720px) {
  //       justify-content: center;
  //     }
  //   }
  // }
}
  .footer__bottom {
    padding: 8px 0;
    background-color: #fff;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0px -4px 20px 4px rgba(0,0,0,0.16);
    @media (max-width:1200px) {
      box-shadow: none;
      background-color: transparent;
    }
    @media (max-width: 720px) {
      // background-color: #002f70;
    padding: 8px 0 15px;

    }
    .action__btn {
      padding: 12px 0;
      @media (max-width: 1200px) {
        background-color: #fff;
        padding: 12px;
        // background-color: #fff;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        box-shadow: 0px 6px 20px 0px #00000033;
      }
      @media (max-width: 720px) {
        width: 38px;
        height: 38px;
        padding: 7px;
      }
        &:not(:last-child) {
          @media (max-width:990px) { 
            margin-left: 20px;
          }
          @media (max-width:720px) { 
            margin-left: 10px;
          }
        }
      img {
        @media (max-width: 1200px) {
          margin-right: 0;
        }
      }
      span {
        @media (max-width: 1200px) {
          display: none;
        }
      }
    }
    .other__quicklinks {
      .action__btn {
        &:not(:first-child) {
          padding-left: 20px;
          border-left: 1px solid #dcdcdc;
          margin-left: 20px;
          @media (max-width: 1200px) {
            border-left: 0;
          padding-left: 12px;
          }
          @media (max-width: 720px) {
            padding-left: 7px;
            border-left: 0;
            margin-left: 10px;
          }
        }
      }
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 990px) {
        justify-content: center;
      }
    }
  }
.action__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #002f70;
  text-decoration: none !important;
  font-family: "DubaiFont Regular", Helvetica, Arial, sans-serif;
  span {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    font-family: "DubaiFont Regular", Helvetica, Arial, sans-serif;
  }
  img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 8px;
  }
}
footer .filter_wrap .filter_options .btn-filter {
  height: 37px;
}
.dark {
  footer .middle__footer .social-media-wrap .social-media a i {
    color: #32affc;
  }
  footer .footer__bottom .other__quicklinks .action__btn:not(:first-child) {
    border-color: #1a4775;
  }
  footer {
    background-color: rgba($color: #fff, $alpha: 0.04) !important;
    .footer__bottom {
      background-color: #0a233c;
      .action__btn {
        img {
          filter: invert(30%) sepia(69%) saturate(5540%) hue-rotate(194deg)
            brightness(100%) contrast(84%);
        }
        span {
          color: #32affc;
        }
      }
    }
  }
}
footer .social-media-wrap .social-media {
  @media (max-width: 720px) {
    margin-bottom: 0;
  }
}
