/** @format */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 96px;
  z-index: 1000;
  box-shadow:0px 25px 26px -22px rgba(0, 51, 102, 0.08) ;

  @media (max-width: 720px) {
    height: 55px;
  }
  .header__inner {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    .header__inner__left {
      display: flex;
      align-items: center;
      .brand__logo {
        display: block;
        width: 136px;
        height: 133px;
        margin-right: 20px;
        @media (max-width: 720px) {
          width: 100px;
          height: auto;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
      .header__menu__toggle__hamburger {
        width: auto;
        padding: 0;
        margin: 0;
        margin-right: 28px;
        cursor: pointer;
        list-style: none;
        padding-bottom: 30px;
        @media (max-width: 720px) {
          position: absolute;
          right: 0;
          margin-right: 0;
        }
        li {
          width: 24px;
          height: 2px;
          border-radius: 10px;
          transition: 0.2s all ease-in-out;
          background-color: #002f70;
          & + li {
            margin-top: 5px;
          }
        }
      }
      .nav__menu {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        @media (max-width: 1200px) {
          display: none;
        }
        li {
          position: relative;
        padding-bottom: 30px;

          a {
            font-size: 16px;
            line-height: 1.5;
            font-weight: 400;
            color: #002f70;
            text-decoration: none;
            &:hover {
              @media (min-width: 1200px) {
                color: #32affc;
              }
            }
          }
          .nav__menu--sub,.dropdown-menu{
            padding: 28px 32px;
            background-color: #fff;
            border-radius: 10px;
            position: absolute;
            top: calc(100% + 0px);
            left: -55px;
            min-width: 384px;
            list-style: none;
            transition: .3s all ease-in-out;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-30px);
            box-shadow: 0px 4px 20px 0px #B7B7B74D;
            margin-top: 6px;
            li{
              padding: 0;
              &::after{
                content: none !important;
              }
              a{
                  font-size: 14px;
            line-height: 1.5;
            font-weight: 400;
            color: #002f70;
            text-decoration: none;
            font-family: "DubaiFont Medium", Helvetica, Arial, sans-serif;
              &:hover {
              @media (min-width: 1200px) {
                color: #32affc;
              }
            }
              }
              &:not(:last-child){
                margin-bottom: 20px;
              }
            }
          }
          &:not(:last-child) {
            margin-right: 25px;
          }
          &.dropdown::after{
            content: "";
            width: 100%;
            height: 4px;
            border-radius: 8px 8px 0 0;
            position: absolute;
            left: 0;
            bottom: -2px;
            background-color: #32AFFC;
            opacity: 0;
            pointer-events: none;
            transition: .3s all ease-in-out;
          }
          &.active{
            a{
              font-family: "DubaiFont Bold", Helvetica, Arial, sans-serif;
              color: #32AFFC;
            }
            &::after{
            content: "";
            width: 100%;
            height: 4px;
            border-radius: 8px 8px 0 0;
            position: absolute;
            left: 0;
            bottom: -2px;
            background-color: #32AFFC;
            pointer-events: none;
            opacity: 1;
          }}
          &:hover{
            @media (min-width:1200px) {
              &::after{
                opacity: 1;
              }
              .nav__menu--sub,.dropdown-menu{
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
              }
            }
          }
        }
      }
    }
    .header__inner__right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-bottom: 30px;

      .cta__btn {
        @media (max-width: 720px) {
          display: none;
        }
        &:not(:last-child) {
          margin-right: 16px;
        }
      }
      .icon__quick__nav {
        margin-right: 16px;
      }
    }
  }
}
.icon__quick__nav  , .accessibility__menu{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  background-color: #f5f7f9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s all ease-in-out;
  position: relative;
  cursor: pointer;
  @media (max-width: 1200px) {
    background-color: transparent;
  }
  &:hover {
    @media (min-width: 1200px) {
      background-color: #cce2f7;
      svg path {
        // fill: #fff;
        // stroke: #fff;
      }
    }
  }
  svg {
    width: 100%;
    height: auto;
    object-fit: contain;
    pointer-events: none;
  }
  &.icon__quick__nav--wheelchair {
    @media (max-width: 990px) {
      display: none;
    }
  }
  &.icon__quick__nav--search {
    @media (max-width: 720px) {
      margin-right: 40px !important;
    }
  }

  .icon__quick__nav__dropdown {
    position: absolute;
    top: calc(100% + 28px);
    right: 0;
    min-width: 320px;
    background-color: #fff;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px #b7b7b74d;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s all ease-in-out;
    .filter_wrap {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
      .filter_dropdown {
        display: none;
      }
      .label {
        font-size: 15px;
        color: #202a50;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 15px;
      }
      .filter_options {
        width: 100%;
        border: 1px solid #8099b2;
        border-radius: 12px;
        padding: 4px;
        @media (max-width: 991px) {
          opacity: 1;
          visibility: visible;
          position: static;
          display: flex;
        }
        & > .btn {
          width: 50%;
          flex: 0 0 50%;
          border-radius: 8px;
          background-color: transparent;
          text-align: center;
          padding: 10px 15px;
          @media (max-width: 1200px) {
            height: unset;
          }
        }
        &.contrast-switch {
          .btn {
            &.active {
              background-color: #002f70 !important;
              color: #fff !important;
            }
          }
        }
        &.fontsize-switch {
          padding: 14px;
          & > .btn {
            width: 33.33%;
            flex: 0 0 33.33%;
            padding: 0px 20px;
            height: 30px;
            border-radius: 0;
            &:not(:last-child) {
              border-right: 1px solid #e5ebf0;
            }
            &.active {
              background-color: transparent;
              color: #002f70;
            }
          }
        }
      }
    }
  }
  &.icon__quick__nav__active {
    .icon__quick__nav__dropdown {
      opacity: 1;
      visibility: visible;
    }
  }
}
.cta__btn {
  font-size: 18px;
  font-weight: 500;
  color: #002f70;
  line-height: 1.4;
  padding: 12px 22px;
  border-radius: 50px;
  text-decoration: none;
  border: 0;
  outline: 0;
  transition: 0.2s all ease-out;
  svg {
    width: 20px;
    height: auto;
    margin-right: 10px;
  }
  &:hover {
    text-decoration: none;
  }
  &:focus{
    outline: none !important;
  }
  @media (max-width:720px) {
    font-size: 14px;
  }
  &.cta__btn--withicon{
    display: flex;
    align-items: center;
    i,svg{
margin-left: 10px;
    }
  }
}
.cta__btn__primary {
  background-color: #f5f7f9;
  &:hover {
    @media (min-width: 1200px) {
      background-color: #002f70;
      color: #fff;
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }
}
.cta__btn__secondary {
  background-color: #002f70;
  color: #fff;

  &:hover {
    color: #fff;
    @media (min-width: 1200px) {
      background-color: #1a4775;
      color: #fff;
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }
}
.cta__btn__secondary--border {
  background-color: transparent;
  border: 1px solid #002f70;
  color: #002f70;
  &:hover {
    @media (min-width: 1200px) {
      background-color: #002f70;
      color: #fff;
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }
}
.cta__btn__tertiary {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;

  &:hover {
    @media (min-width: 1200px) {
      background-color: transparent;
      color: #002f70;
      border-color: #002f70;
      svg {
        path {
          fill: #002f70;
        }
      }
    }
  }
}
.cta__with__icon {
  display: flex;
  align-items: center;
  padding: 10px;
}
.fixed__main__navigation__menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.3);
  z-index: 1009;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  @media (max-width: 720px) {
    display: none;
  }
}
.fixed__main__navigation__menu {
  position: fixed;
  top: 0;
  transition: 0.3s all ease-in-out;
  transform: translateX(-100%);
  left: 0;
  width: 365px;
  height: 100dvh;
  background-color: #fff;
  z-index: 1010;
  padding: 24px 32px;
  @media (max-width: 720px) {
    width: 100vw;
    padding: 24px 32px;
    z-index: 999;
  }
  .close__menu {
    width: 16px;
    height: 16px;
    display: block;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin-left: auto;
    margin-bottom: 32px;
    svg {
      width: 100%;
      height: auto;
    }
    @media (max-width: 720px) {
      opacity: 0;
      margin-bottom: 90px;
    }
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  & > ul {
    li {
      cursor: pointer;
      &:not(:last-child) {
        border-bottom: 2px solid #e5ebf0;
      }
      a {
        font-size: 14px;
        line-height: 1;
        font-weight: 500;
        font-family: "DubaiFont Medium", Helvetica, Arial, sans-serif;
        color: #002f70;
        padding: 10px 0;
        display: inline-block;
        text-decoration: none;
        transition: 0.1s all ease-in-out;
        &:hover {
          @media (min-width: 1200px) {
            color: #32affc;
          }
        }
      }
      .sub__menu {
        display: none;
        border-top: 2px solid #e5ebf0;
        padding-left: 24px;
        .sub__menu__has__children {
          position: relative;
          &::after {
            content: "";
            width: 8px;
            height: 8px;
            position: absolute;
            top: 15px;
            right: 6px;
            transition: 0.1s all ease-in-out;
            transform: rotate(45deg);
            border-right: 2px solid #002f70;
            border-bottom: 2px solid #002f70;
          }
          .sub__menu__has__children__menu {
            // display: none;
            position: absolute;
            top: 0;
            left: calc(100% + 42px);
            background-color: #fff;
            box-shadow: 0px 4px 20px 0px #b7b7b74d;
            padding: 24px 16px 18px;
            border-radius: 10px;
            width: max-content;
            transition: 0.2s all ease-in-out;
            opacity: 0;
            visibility: hidden;
            @media (max-width: 990px) {
              max-width: 370px;
            }
            @media (max-width: 720px) {
              max-width: unset;
              width: 100vw;
              height: 100dvh;
              left: 0;
              position: fixed;
              padding: 140px 32px 60px;
              z-index: 100;
            }
            h5 {
              font-size: 15px;
              color: #99adc2;
              font-weight: 700;
              line-height: 1;
              margin-bottom: 10px;
              letter-spacing: 0.2px;
              text-transform: uppercase;
              @media (max-width: 720px) {
                color: #32affc;
              }
              a {
                font-size: inherit;
                color: inherit;
                font-weight: inherit;
                text-decoration: none;
              }
              &::before {
                content: "";
                width: 10px;
                height: 10px;
                flex: 0 0 10px;
                display: inline-block;
                transform: rotate(45deg);
                margin-right: 15px;
                border-left: 2px solid #32affc;
                border-bottom: 2px solid #32affc;
                @media (min-width: 720px) {
                  display: none;
                }
              }
            }
            a {
              font-size: 14px;
              line-height: 1;
              font-weight: 500;
              color: #002f70;
              padding: 10px 0;
              display: inline-block;
              transition: 0.1s all ease-in-out;
              text-decoration: none;
              &:hover {
                @media (min-width: 1200px) {
                  color: #32affc;
                }
              }
            }
            li {
              border: 0;
            }
            li:not(:first-child) {
              border-bottom: 1px solid #e5e5e5;
            }
          }
          &.sub__menu__has__children__active {
            border-color: #32affc;
            & > a {
              color: #32affc;
            }
            &::after {
              border-color: #32affc;
              transform: rotate(-45deg);
            }
            .sub__menu__has__children__menu {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }

      &.has__children {
        position: relative;
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          position: absolute;
          top: 12px;
          right: 6px;
          transform: rotate(45deg);
          transition: 0.1s all ease-in-out;
          border-right: 2px solid #002f70;
          border-bottom: 2px solid #002f70;
        }
      }
      &.sub__menu__active {
        & > a {
          color: #32affc;
        }
        &::after {
          border-color: #32affc;
          transform: rotate(-135deg);
        }
        .sub__menu {
          display: block;
          border-color: #32affc;
        }
      }
    }
  }
}
.main__navigation__open {
  .fixed__main__navigation__menu {
    transform: translateX(0);
  }
  .fixed__main__navigation__menu__overlay {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  header
    .header__inner
    .header__inner__left
    .header__menu__toggle__hamburger
    li {
    &:nth-child(1) {
      @media (max-width: 1200px) {
        transform: rotate(45deg) translate(5px, 5px);
      }
    }
    &:nth-child(2) {
      @media (max-width: 1200px) {
        opacity: 0;
      }
    }
    &:nth-child(3) {
      @media (max-width: 1200px) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }
  }
}

.dark {
  background-color: #0a233c !important;
  .icon__quick__nav__dropdown {
    box-shadow: none;
    border: 1px solid rgba($color: #fff, $alpha: 0.1);
    background-color: #142c44;
    .filter_wrap .label {
      color: #fff;
    }
  }
  header {
    background-color: #0a233c;
    .header__inner .header__inner__left {
      .header__menu__toggle__hamburger li {
        background-color: #fff;
      }
      .nav__menu li a {
        color: #fff;
        &:hover {
          @media (min-width: 1200px) {
            color: #32affc;
          }
        }
      }
    }
    .icon__quick__nav {
      background-color: rgba($color: #fff, $alpha: 0.04);
      &.icon__quick__nav--search {
        svg path {
          stroke: #fff;
        }
      }
      &.icon__quick__nav--wheelchair {
        svg path {
          fill: #fff;
        }
      }
      &:hover {
        @media (min-width: 1200px) {
          background-color: rgba($color: #fff, $alpha: 0.1);
        }
      }
    }
    .cta__btn__primary.cta__with__icon {
      background-color: rgba($color: #fff, $alpha: 0.04);
      svg path {
        fill: #fff;
      }
      &:hover {
        @media (min-width: 1200px) {
          background-color: rgba($color: #fff, $alpha: 0.1);
        }
      }
    }
  }
  .cta__btn__secondary {
    background-color: #fff;
    color: #002f70;
    &:hover {
      @media (min-width: 1200px) {
      }
    }
  }
  .fixed__main__navigation__menu {
    background-color: #0a233c;
    &
      > ul
      li
      .sub__menu
      .sub__menu__has__children
      .sub__menu__has__children__menu
      a {
      color: #fff;
    }
    &
      > ul
      li
      .sub__menu
      .sub__menu__has__children
      .sub__menu__has__children__menu {
      background-color: #0a233c;
      box-shadow: none;
    }
    & > ul li {
      border-color: rgba($color: #fff, $alpha: 0.2) !important;
      .sub__menu .sub__menu__has__children::after {
        border-color: #fff;
      }
    }
    & > ul li {
      border-color: rgba($color: #fff, $alpha: 0.2);
      a {
        color: #fff;
      }
      &.has__children::after {
        border-color: #fff;
      }
    }
  }
}

.accessibility__menu , .login__menu{
  position: relative;
  width: auto;
  height: auto;
  display: block;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  &:hover{
    background-color: transparent;
  }
  &::after{
 content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 12px;
    display: block;
    right: 6px;
    transform: rotate(-45deg);
    transition: 0.1s all ease-in-out;
    border-right: 2px solid #002f70;
    border-bottom: 2px solid #002f70;
  }
  .icon__quick__nav__dropdown{
    display: none;
    opacity: 1;
    visibility: visible;
    min-width: 100%;
    box-shadow: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 30px;
  }
//   .login-popup{
//     width: 100%;
//     position: fixed;
//     top: 0;
//     left: 0;
//     background-color: #fff;
//     width: 100%;
//     height: 100%;
//    .btn-close{

//    }
//     .title{ h2{
//               font-size: 32px;
//         line-height: 38px;
//         color: #002f70;
//     } 
//   p{
//     font-size: 18px;
//     line-height: 26px;
//     font-family: "DubaiFont Regular", Helvetica, Arial, sans-serif;
//     color: #002f70;
//   }}
//   .row>div{
//     @media (max-width:990px) {
//       width: 100%;
//       flex: 0 0 100%;
//       max-width: 100%;
//     }
//   }
//   .login-grid .login-link{
//         background: #fff;
//     border-radius: 16px;
//     border: 1px solid #ccd6e0;
//             margin-bottom: 15px;
// display: flex;
//     text-decoration: none;
//     .icon-wrap{
//       height: 50px;
//     width: 50px;
//     font-size: 50px;
//     i{
//       color: #002f70;
//       font-size: inherit;
//     }
//     }
//     h3{
//       font-size: 22px;
//       color: #002f70;
//       line-height: 30px;
//     margin: 0;
//     font-family: "DubaiFont Bold", Helvetica, Arial, sans-serif;
//     }
//   }
//   }
  &.icon__quick__nav__active{
    .icon__quick__nav__dropdown{
      display: block;
    }
  }
}
header .login-popup.active{
  @media (max-width:990px) {
    padding-top: 30px;
  }
  @media (max-width:768px) {
    margin-top: -44px;
  }
}