/** @format */

.hero__banner {
  padding: 0;
  width: 100%;
  height: 100dvh;
  position: relative;
  overflow: hidden;
  .scroll__down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: auto;
    bottom: 110px;
    z-index: 30;
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    pointer-events: none;
    svg {
      width: 100%;
      height: auto;
    }
    @media (max-width: 1200px) {
      display: none;
    }
  }
  .hero__banner__slider {
    width: 100%;
    height: 100%;
    .slick-list {
      height: 100%;
      width: 100%;
      .slick-track {
        height: 100%;
      }
    }
    .hero__banner__slider__item {
      width: 100vw;
      height: 100%;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        // background: linear-gradient(to bottom, rgba());
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.8) 9.98%,
          rgba(0, 0, 0, 0.4) 66.71%,
          rgba(0, 0, 0, 0) 100%
        );
        opacity: 0.8;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 5;
      }
      .hero__banner__slider__item__content {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        max-width: 600px;
        text-align: center;
        bottom: 180px;
        z-index: 15;
        @media (max-width: 1200px) {
          bottom: auto;
          top: 50%;
          transform: translate(-50%, -50%);
          max-width: 700px;
          width: 100%;
        }
        @media (max-width: 720px) {
          top: 40%;
          // bottom: 25%;
          padding: 0 20px;
        }
        h2 {
          font-size: 36px;
          line-height: 1.1;
          color: #fff;
          font-weight: 500;
          @media (max-width: 720px) {
            font-size: 30px;
          }
        }
      }
    }
  }
  .hero__banner__navigation__outer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    bottom: 158px;
    display: flex;
    align-items: center;
    @media (max-width: 1200px) {
      bottom: auto;
      top: 62%;
      transform: translateX(-50%) scale(1.4);
    }
    @media (max-width: 720px) {
      top: 58%;
      // bottom: 30%;
      transform: translateX(-50%) scale(1.1);
    }
    .slick__arrow {
      background-color: transparent;
      border: 0;
      padding: 0;
      width: 7px;
      height: auto;
      outline: none;
      display: flex;
      &:focus {
        outline: none;
        box-shadow: none;
      }
      svg {
        width: 100%;
        height: auto;
      }
      &.slick-disabled {
        opacity: 0.6;
      }
    }
    .hero__banner__navigation__inner {
      width: max-content;
    }
    .slick-dots {
      display: flex;
      align-items: center;
      padding: 0 16px;
      position: static;
      justify-content: center;
      margin: 0;
      list-style: none;
      li {
        margin: 0 8px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: rgba($color: #fff, $alpha: 0.5);
        border-left: 2px solid transparent;
        position: relative;
        border-right: 2px solid transparent;
        button {
          padding: 0;
          display: none;
          &::before {
            content: none;
          }
        }
        &.slick-active {
          border-radius: 0;
          background-color: transparent;
          border-color: #fff;
        }
      }


           .circle-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 24px;
            width: 24px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) rotate(-90deg);
        }

        svg {
            width: 24px;
            height: 24px;
        }

        .circle {
            fill: none;
            stroke: #fff; /* Change to your desired color */
            stroke-width: 2;
            stroke-dasharray: 314; /* Circumference of the circle (2 * PI * radius) */
            stroke-dashoffset: 314; /* Initial offset to hide the stroke */
            animation: draw 10s linear forwards;
        }

        @keyframes draw {
            to {
                stroke-dashoffset: 0;
            }
        }
    }
  }
}
