/** @format */

.learn__about__mbru {
  padding: 80px 0;
  background-color: #f1fcff;
  .primary__title{
    @media (max-width:720px) {
      margin-bottom: 16px;
    }
  }
  @media (max-width: 720px) {
    padding: 40px 0;
  }
  .primary__title {
    @media (max-width: 720px) {
      text-align: center !important;
    }
  }
  .resources__tab__links__wrap__outer {
    @media (max-width: 990px) {
      overflow-x: auto;
      margin-right: -15px;
    }
  }
  .resources__tab__links__wrap {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
    @media (max-width: 990px) {
      // flex-wrap: wrap;
      width: max-content;
      padding-right: 15px;
      // align-items: unset;
      // overflow-x: scroll;
      // scroll-snap-type: x mandatory;
      // -webkit-overflow-scrolling: touch;
      // width: auto;
    }
    @media (max-width:720px) {
      margin-bottom: 15px;
    }
    li {
      padding: 8px 20px;
      border: 1px solid #ccd6e0;
      background-color: #e5ebf0;
      border-radius: 60px;
      font-size: 16px;
      font-weight: 400;
      color: #002f70;
      line-height: 1;
      transition: 0.2s all ease-in-out;
      cursor: pointer;
      width: max-content;
      display: block;
      text-transform: capitalize;
      @media (max-width: 990px) {
        margin-bottom: 15px;
        // scroll-snap-align: start;
      }
      &:not(:last-child) {
        margin-right: 12px;
      }
      &.link__active {
        border-color: #002f70;
        background-color: #002f70;
        color: #fff;
      }
    }
  }
  .resources__tab__body__wrap {
    @media (max-width: 990px) {
      margin-right: -15px;
    }
    .resources__tab__bodyitem {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 24px;
      display: none;
      &.resources__tab__bodyitem__active {
        display: grid;
        @media (max-width: 990px) {
          display: flex;
          flex-wrap: nowrap;
          overflow-x: scroll;
          scroll-snap-type: x mandatory;
          -webkit-overflow-scrolling: touch;
          padding-right: 15px;
        }
      }
    }
    .resources__tab__bodyitem__list__item {
      position: relative;
      border-radius: 20px;
      overflow: hidden;
      display: block;
      aspect-ratio: 1/1;
      @media (max-width: 990px) {
        scroll-snap-align: start;
        width: 40vw;
        flex: 0 0 40vw;
      }
      @media (max-width: 720px) {
        width: 80vw;
        flex: 0 0 80vw;
      }
      &:hover {
        @media (min-width: 1200px) {
          img {
            transform: scale(1.03);
          }
        }
      }
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 5;
        background: linear-gradient(
          180deg,
          rgba(10, 35, 60, 0) 0%,
          rgba(10, 35, 60, 0.5) 60%,
          rgba(10, 35, 60, 0.7) 100%
        );
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s all ease-in-out;
      }
      .resources__tab__bodyitem__list__item__content {
        padding: 24px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 10;
        width: 100%;
        span {
          font-size: 14px;
          line-height: 1;
          display: block;
          color: #b2c2d1;
          font-weight: 400;
          margin-bottom: 20px;
        }
        h4 {
          font-size: 26px;
          line-height: 1;
          display: block;
          color: #fff;
          font-weight: 700;
          margin-bottom: 10px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          letter-spacing: 0.6px;
          @media (max-width: 1400px) {
            font-size: 20px;
          }
        }
        p {
          font-size: 16px;
          line-height: 1.3;
          display: block;
          color: #fff;
          font-weight: 400;
          margin: 0;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          @media (max-width: 1400px) {
            font-size: 14px;
          }
        }
        a,
        button {
          display: flex;
          align-items: center;
          font-size: 16px;
          padding: 0;
          font-weight: 500;
          color: #32affc;
          text-decoration: none;
          text-transform: capitalize;
          background-color: transparent;
          border: 0;
          outline: none;
          margin-top: 30px;
          svg {
            width: 11px;
            height: auto;
            margin-left: 9px;
          }
        }
      }
      &:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        .resources__tab__bodyitem__list__item__content {
          @media (min-width: 1200px) {
            padding: 40px;
          }
          h4 {
            @media (max-width: 1400px) {
              font-size: 32px;
            }
            @media (max-width: 990px) {
              font-size: 20px;
            }
          }
          p {
            @media (max-width: 1400px) {
              font-size: 16px;
            }
            @media (max-width: 990px) {
              font-size: 14px;
            }
          }
        }
      }
      &:nth-child(2) {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
      }
      &:nth-child(3) {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
      }
      &:nth-child(4) {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
      }
      &:nth-child(5) {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
      }
      &:not(:first-child) {
        .resources__tab__bodyitem__list__item__content {
          a,
          button {
            display: none;
            @media (max-width: 990px) {
              display: flex;
            }
          }
        }
      }
    }
  }
}
.dark {
  .learn__about__mbru {
    background-color: transparent;
    .resources__tab__links__wrap li {
      background-color: rgba($color: #fff, $alpha: 0.04);
      border: 1px solid rgba($color: #fff, $alpha: 0.1);
      color: #fff;
      &.link__active {
        background-color: #fff;
        color: #002f70;
      }
    }
  }
}
