/** @format */

.our__programs__search__section {
  padding: 80px 0 40px;
  background-color: #fff;
  @media (max-width: 720px) {
    padding: 40px 0 40px;
  }
  .our__programs__search__section__form__wrap {
    border: 1px solid #e5ebf0;
    border-radius: 20px;
    padding: 56px 28px 64px;
    box-shadow: 0px 25px 36px 0px #00336614;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    @media (max-width: 720px) {
      padding: 25px 18px 25px;
    }
    form,
    .form {
      display: flex;
      align-items: center;
      @media (max-width: 720px) {
        flex-direction: column;
      }
      .cta__btn {
        display: inline-block;
        @media (max-width: 720px) {
          width: 100%;
        }
      }
      fieldset {
        position: relative;
        border: 0;
        padding: 0;
        margin: 0;
        outline: 0;
        // width: 35%;
        // flex: 0 0 35%;
        width: -webkit-fill-available;
        &:not(:last-child) {
          margin-right: 30px;
          @media (max-width: 720px) {
            margin-right: 0;
            margin-bottom: 16px;
          }
        }

        input,
        select {
          font-size: 18px;
          line-height: 1;
          font-weight: 400;
          color: #8099b2;
          width: 100%;
          padding: 11px 16px 11px 50px;
          border: 1px solid #8099b2;
          border-radius: 12px;
          font-family: "DubaiFont Regular", Helvetica, Arial, sans-serif;
          appearance: none;
          -webkit-appearance: none;
          outline: none !important;
          box-shadow: none !important;
          height: 49px;

          @media (max-width: 720px) {
            border-radius: 8px;
          }
          &::placeholder {
            font-weight: 400;
            color: #8099b2;
            font-size: inherit;
            font-weight: inherit;
          }
        }
        select {
          padding-left: 16px;
        }
        &.search__field {
          svg {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: auto;
            z-index: 10;
          }
        }
        &.select__field {
          svg {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: auto;
            z-index: 10;
          }
        }
      }
    }
  }
}
.dark {
  .our__programs__search__section {
    background-color: transparent;
  }
  .our__programs__search__section
    .our__programs__search__section__form__wrap
    form
    fieldset
    input,
  .our__programs__search__section
    .our__programs__search__section__form__wrap
    form
    fieldset
    select,
  .our__programs__search__section
    .our__programs__search__section__form__wrap
    .form
    fieldset
    input,
  .our__programs__search__section
    .our__programs__search__section__form__wrap
    .form
    fieldset
    select {
    background-color: #18243c !important;
  }
  .our__programs__search__section
    .our__programs__search__section__form__wrap
    form
    fieldset.select__field
    svg
    path,
  .our__programs__search__section
    .our__programs__search__section__form__wrap
    .form
    fieldset.select__field
    svg
    path {
    fill: #fff;
  }
  .our__programs__search__section .our__programs__search__section__form__wrap {
    border: 0;
    box-shadow: 0;
    background-color: rgba($color: #fff, $alpha: 0.04);
  }
}
body:not(.dark) {
  .our__programs__search__section
    .our__programs__search__section__form__wrap
    form
    fieldset
    input,
  .our__programs__search__section
    .our__programs__search__section__form__wrap
    form
    fieldset
    select,
  .our__programs__search__section
    .our__programs__search__section__form__wrap
    .form
    fieldset
    input,
  .our__programs__search__section
    .our__programs__search__section__form__wrap
    .form
    fieldset
    select {
    background-color: #fff !important;
  }
}
