/** @format */

.services__grid__listing {
  width: 100%;
  position: relative;
  z-index: 10;
  padding-bottom: 10px;
  background-color: #f1fcff;
  margin-bottom: 0px;
  @media (min-width: 1200px) {
    height: 180px;
  }
  @media (max-width: 1200px) {
    // padding: 40px 0 80px;
    margin-bottom: 0px;
    overflow: hidden;
    padding-bottom: 20px;
    // padding-top: 40px !important;
    // transform: translateY(-100%);
    margin-top: var(--height);
    background-color: transparent;
  }
  .container {
    @media (max-width: 1200px) {
      max-width: 100%;
    }
  }
  .row {
    transform: translateY(-50%);
    margin: 0 -17.5px;
    @media (max-width: 1200px) {
      transform: translateY(0%);
      flex-wrap: nowrap;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
    }
    @media (max-width: 720px) {
      margin: 0 -15px 0 -10px;
    }
    & > div {
      padding: 0 17.5px;
      @media (max-width: 1200px) {
        margin-bottom: 35px;
        scroll-snap-align: start;
        width: 45vw;
        flex: 0 0 45vw;
      }
      @media (max-width: 720px) {
        width: 65vw;
        flex: 0 0 65vw;
        padding: 0 10px;
      }
    }
  }
}
.services__grid__listing__card {
  background-color: #fff;
  border-radius: 20px;
  padding: 24px;
  display: block;
  text-decoration: none !important;
  height: 100%;
  transition: 0.2s all ease-in-out;
  &:hover {
    @media (min-width: 1200px) {
      box-shadow: 0px 8px 12px -6px rgba(0, 51, 102, 0.08);;
    }
  }
  img,
  .icon-wrap {
    width: 48px;
    height: 48px;
    margin: 0 auto 24px;
    display: block;
    i {
      color: #32affc;
      font-size: 45px;
    }
    @media (max-width: 720px) {
      width: 36px;
      height: 36px;
    }
  }
  h3 {
    font-size: 24px;
    color: #002f70;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
    @media (max-width: 720px) {
      font-size: 18px;
    }
  }
  p {
    font-size: 14px;
    color: #1a4775;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 0px;
    @media (max-width: 720px) {
      font-size: 12px;
    }
  }
}
.dark {
  .services__grid__listing {
    background-color: rgba($color: #fff, $alpha: 0.04);
  }
  .services__grid__listing__card {
    background-color: #002f70;
    h3 {
      color: #fff;
    }
    p {
      color: #e5ebf0;
    }
  }
}
