/** @format */

.testimonies__section {
  padding: 40px 0 80px;
  position: relative;
  @media (max-width:720px) {
    padding-bottom: 40px;
  }
  .container {
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: rgba($color: #fff, $alpha: 1);
    }
  }
  .testimonies__section__slider__navigation__outer {
    position: absolute;
    z-index: 10;
    left: 140px;
    bottom: 0;
    display: flex;
    align-items: center;
    @media (max-width: 1200px) {
      left: 60px;
    }
    @media (max-width: 720px) {
      left: 50%;
      transform: translateX(-50%);
    }
    .slick__arrow {
      width: 8px;
      height: auto;
      padding: 0;
      margin: 0;
      background-color: transparent;
      border: 0;
      outline: 0;
      display: flex;
      &.slick-disabled {
        opacity: 0.4;
      }
    }
    .testimonies__section__slider__navigation__inner {
      margin: 0 16px;
      .slick-dots {
        display: flex;
        align-items: center;
        position: static;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          width: unset;
          height: unset;
          margin: 0 8px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #b2c2d1;
          button {
            display: none;
            &::before {
              content: none;
            }
          }
          &.slick-active {
            background-color: #002f70;
            button {
            }
          }
        }
      }
    }
  }
  .testimonies__section__slider {
    width: 100%;
    padding-bottom: 30px;
    max-width: 1000px;
    margin: auto;
    @media (max-width: 720px) {
      padding-bottom: 50px;
      // margin-bottom: 0;
    }
    .testimonies__section__slider__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 720px) {
        flex-flow: column;
      }
      .testimonies__section__slider__item__content {
        width: 70%;
        flex: 0 0 70%;
        padding: 40px;
        @media (max-width: 720px) {
          width: 100%;
          padding: 0px;
          flex: 0 0 100%;
          margin-bottom: 15px;
        }
        svg {
          width: 90px;
          height: auto;
          margin-bottom: 35px;
          @media (max-width: 720px) {
            width: 70px;
            margin: 0 auto 30px;
            display: block;
          }
        }
        p {
          font-size: 20px;
          line-height: 1.2;
          font-weight: 400;
          color: #002f70;
          margin-bottom: 36px;
          @media (max-width: 720px) {
            font-size: 18px;
            text-align: center;
          }
        }

        h5 {
          font-size: 20px;
          line-height: 1.2;
          font-weight: 700;
          color: #002f70;
          margin-bottom: 1px;
          @media (max-width: 720px) {
            font-size: 18px;
            text-align: center;
            transform: translateY(140px);
            min-height: 22px;

          }
        }
        h6 {
          font-size: 16px;
          line-height: 1.2;
          font-weight: 400;
          color: #002f70;
          margin-bottom: 5px;
          @media (max-width: 720px) {
            font-size: 14px;
            text-align: center;
            transform: translateY(140px);
            min-height: 17px;
          }
        }
      }
      .testimonies__section__slider__item__image {
        width: 250px;
        flex: 0 0 250px;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 20px;
        overflow: hidden;
        @media (max-width: 990px) {
          width: 30%;
          flex: 0 0 30%;
        }
        @media (max-width: 720px) {
          width: 130px;
          flex: 0 0 130px;
            transform: translateY(-60px);

        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
.dark {
  .testimonies__section {
    .container {
      position: relative;
      &::after {
        content: "";
        width: calc(100% - 30px);
        height: 1px;
        background-color: #1a4775;
        position: absolute;
        bottom: -80px;
        left: 15px;
      }
    }
  }
  .testimonies__section
    .testimonies__section__slider
    .testimonies__section__slider__item
    .testimonies__section__slider__item__content {
    svg path {
      fill: #1a4775;
    }
    p,
    h5,
    h6 {
      color: #fff;
    }
  }
  .testimonies__section
    .testimonies__section__slider__navigation__outer
    .testimonies__section__slider__navigation__inner
    .slick-dots
    li {
    background-color: #b2c2d1;
    &.slick-active {
      background-color: #fff;
    }
  }
  .testimonies__section
    .testimonies__section__slider__navigation__outer
    .slick__arrow {
    svg path {
      fill: rgba($color: #fff, $alpha: 1);
    }
    &.slick-disabled {
      opacity: 0.4;
    }
  }
}
